var isOnlyBack = function (data) {
  return data && data.inValidGoodsList && data.inValidGoodsList.length > 0 &&
    (!data.storeGoodsList || data.storeGoodsList.length === 0);
};

var isShowChangeAddress = function (data) {
  return data && data.abnormalDeliveryGoodsList && data.abnormalDeliveryGoodsList.length > 0;
};

var isShowKeepPay = function (data) {
  return data && data.outOfStockGoodsList && data.outOfStockGoodsList.length > 0 ||
    (data && data.storeGoodsList && data.storeGoodsList.length > 0 &&
      data.inValidGoodsList && data.inValidGoodsList.length > 0);
};

module.exports = {
  isOnlyBack: isOnlyBack,
  isShowChangeAddress: isShowChangeAddress,
  isShowKeepPay: isShowKeepPay,
};
